{% load static %}
<header>
    <div class="container">
        <div id="branding">
            <img src="{% static 'img/Tech-Artisans-colors_transparent.png' %}" alt="Python Development">
        </div>

        <nav>
            <h1 class="techart"><span class="highlight">Technology</span> Artisans</h1>
            <ul>
                <li {% if '/' == request.path %} class="current" {% else %} class="non_current" {% endif %}>
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li {% if 'about' in request.path %} class="current" {% else %} class="non_current" {% endif %}>
                    <a href="{% url 'about' %}">About</a>
                </li>
                <li {% if 'services' in request.path %} class="current" {% else %} class="non_current" {% endif %}>
                    <a href="{% url 'services' %}">Services</a>
                </li>
            </ul>
        </nav>
    </div>
</header>