{% load static %}
<header>
    <div class="container">
        <div id="branding">
            <img src="{% static 'img/Tech-Artisans-colors_transparent.png' %}" alt="Python Development">
        </div>

        <nav>
            <h1 class="techart"><span class="highlight">Technology</span> Artisans</h1>
            <ul>
                <li class="current"><a href="index.html">Home</a> </li>
                <li><a href="about.html">About</a> </li>
                <li><a href="services.html">Services</a> </li>
            </ul>
        </nav>
    </div>
</header>